bootstrap/cache/services.php
.styleci.yml
logs/
/logs
tmp/
/tmp
*/temp*
*/*/temp*
temp?
.scannerwork
docker-compose.yml
bitbucket-pipelines.yml
docker-compose
vendor/
test-results/
.phpunit.result.cache
/.dev
**.git
.idea
/examples
/.vscode
.editorconfig
**.gitignore
**.gitattributes
**.sass-cache
.git
.cache
**/*.class
.history
node_modules/
dist/
!bootstrap/cache/.gitignore
package-lock.json
readme.md
*.md
CHANGELOG.md
*/*/.DS_Store*
**/.DS_Store*
LICENSE
bootstrap/cache/*
storage/app/public/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
/CICD_Script
!/CICD_Script/Deploy/Docker/start.sh
!/CICD_Script/Test_page/info.php
!/CICD_Script/Test_page/index.html
!/CICD_Script/Test_page/health-check.html