/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
bootstrap/cache/
bootstrap/cache/*
test-results/
CICD_Script/DEV_Terrform_Script/
CICD_Script/DEV_Terrform_Script/*
CICD_Script/QA_Terraform_Script/
CICD_Script/QA_Terraform_Script/*